.row
  .span12.offset4
    %h2.from
      = link_to display_name(message.from), message.from
      = succeed(":") do
        = said
  
  .span4.info
    .to
      To:
      = message.to.map { |to| link_to(display_name(to), to) }.join(", ").html_safe
    - if message.cc.any?
      .cc
        CC:
        = message.cc.map { |cc| link_to(display_name(cc), cc) }.join(", ").html_safe
    .date= message.date.to_s(:long)

    - if message.multipart?
      .parts
        = message.parts.count
        parts:
        %ul.unstyled
          - message.parts.each do |part|
            %li= metadata_for(part)

  .span12
    .body= hiding_quoted_parts message.best_body
