%h3.date= message.date.to_s(:long)
%h3.to
  To:
  = message.to.map { |to| link_to(to.email, to) }.join(", ").html_safe
%h3.from
  From:
  = link_to message.from.email, message.from
- if message.cc
  %h3.cc
    CC:
    = message.cc.map { |cc| link_to(cc.email, cc) }.join(", ").html_safe

- if message.multipart?
  - message.parts.each do |part|
    %h4
      Part
      = part['headers']['Content-Type']
    .part= hiding_quoted_parts part['body']
    %hr

- else
  .body= hiding_quoted_parts message.body