<ul>
<li class="subject"><%= @message.subject %></li>
<li class="date"><%= @message.date %></li>
<li class="from"><%= @message.from %></li>
</ul>
<pre class="body">
<%= @message.body %>
</pre>
<!---
  <%= @message.raw_message %>
--->