<ul>
<li><%= @message.subject %></li>
<li><%= @message.date %></li>
<li><%= @message.from %></li>
</ul>
<pre class="body">
<%= @message.body %>
</pre>
<h2>Raw message</h2>
<pre>
  <%= @message.original.to_s %>
</pre>