<h1>Conversations</h1>
<%= ul(@conversations, id: 'conversations', empty_list: 'No conversations were found') do |conversation| %>
  <li class="conversation">
    <abbr class="date" title="<%= conversation.latest_message_date.iso8601 %>">
      <%= conversation.latest_message_date.to_date.to_s(:long_ordinal) %>
    </abbr>
    <span class="participants"><%= conversation.participants.join(", ") %></span>
    <span class="subject"><%= link_to(conversation.subject, conversation) %></span>
  </li>
<% end %>
