%h1= @thread.subject

- @thread.messages.each do |message|
  .message{id: message.id}
    = link_to "next message", "#end_of_#{message.id}"
    = render :partial => "messages/message", :object => message
    %a{name: "end_of_#{message.id}"}